<!DOCTYPE html>
<html  lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>AxisCare</title>
   <!-- Bootstrap core CSS -->
   <link href="static/css/bootstrap.min.css" rel="stylesheet">

   <!-- Custom styles for this template -->
   <link href="static/css/product.css" rel="stylesheet">

   <!-- Bootstraps Java Scipts Links -->
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
   <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
   <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
   <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>


   <!-- JQuery links  -->
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

   <!--Plotly CDN-->
   <script src="https://cdn.plot.ly/plotly-2.18.0.min.js"></script>

   <script type='module' src='https://10az.online.tableau.com/javascripts/api/tableau.embedding.3.latest.min.js'></script>
   <script type='module' src='https://10az.online.tableau.com/javascripts/api/tableau.embedding.3.latest.min.js'></script>



</head>

<body>
  <header>
    <div class="p-2 text-center bg-dark">
      <h1 class="mb-3" style="color: whitesmoke">AxisCare</h1>
      <h4 class="mb-3" style="color: lightgrey"><i>Access to Care</i></h4>
      <!-- <a class="btn btn-primary" href="" role="button">Call to action</a> -->
    </div>
  </header>
  <!-- <div>Hello World</div>
  <div id="tester" style="width:600px;height:250px;"></div> -->
  <nav class="site-header sticky-top py-1">
    <div class="container d-flex flex-column flex-md-row justify-content-between">
      <a class="py-2 d-none d-md-inline-block" style="color:#BF3943;" href="/">Home</a>
      <a class="py-2 d-none d-md-inline-block" style="color: white;" href="/trends">Case Based Trends</a>
      <a class="py-2 d-none d-md-inline-block" style="color: white;" href="/mobility">Mobility</a>
      <a class="py-2 d-none d-md-inline-block" style="color: white;" href="/search-trends">Search Trends</a>
      <a class="py-2 d-none d-md-inline-block" style="color:white;" href="/insights">Explanable AI</a>
    </div>
  </nav>
  <!-- <div id="myDiv"></div> -->
  <!-- <div id="includedContent" style="width: 800px; height: 800px;"></div> -->
  
</body>

<div class="container text-center">
  <h1 class="text-center">Vaccine Rollout and Distribution Vary From State to State</h1>
  <p class="lead">
    Vaccine rollout and distribution can also change over time. It looks like California  lower vaccine coverage compared to others. Factors such as access to vaccine providers, hesitancy about the vaccine, and political and cultural beliefs can impact vaccine uptake in a given state.
  </p>
  <tableau-viz id='tableau-viz' src='https://10az.online.tableau.com/t/samakshgualti/views/try_viz_tableau_1/Sheet7' width='1440' height='692' hide-tabs toolbar='bottom' ></tableau-viz>
  
  <h1 class="text-center">Cases and Death Trends</h1>
  <p class="lead">
    As per the data, some states that were among those that suffered the most in terms of COVID-19 cases and deaths included California, Texas, and Minneosta.  </p>
  <tableau-viz id='tableau-viz' src='https://10az.online.tableau.com/t/samakshgualti/views/try_viz_tableau_2/CasesDeaths' width='1440' height='692' hide-tabs toolbar='bottom' ></tableau-viz>
</div>


</html>
